@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=JetBrains+Mono:wght@100&family=Poppins:wght@300;600&family=Roboto:wght@300;400;500;700&display=swap');
:root{
    --bg-black-900:#f2f2fc;
    --bg-black-100: #fdf9ff;
    --bg-black-50: #e8dfec;
    --text-black-900: #302e4d;
    --text-black-700: #504e70;
}

body{
    line-height: 1.5;
    font-size: 16px;
    font-family: 'Poppins' sans-serif;
}

*{
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
}

::before, ::after{
    box-sizing: border-box;
}

/* ==== Common ==== */

.padd-15{
    padding-left: 15px;
    padding-right: 15px;
}

.mt-40{
    margin-top: 40px;
}

.ml-15{
    margin-left: 15px;
}

.btn{
    font-size: 16px;
    font-weight: 500;
    padding: 12px 35px;
    color: white;
    border-radius: 40px;
    display: inline-block;
    white-space: nowrap;
    background-color: var(--skin-color);
    transition: all 0.3s ease;
}

.btn:hover{
    transform: scale(1.05);
    opacity: 0.8;
}

.hidden{
    display: none !important;
}

.section
{   
    background: var(--bg-black-900);
    min-height: 100vh;
    display: block; 
    padding: 0 30px;
}

.row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    position: relative;
}

.shadow-dark{
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}

.container{
    max-width: 1100px;
    width: 100%;
    margin: auto;
}

/* aside */

.aside{
    width: 270px;
    background: var(--bg-black-100);
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid var(--bg-black-50);
    z-index: 1;
}

.aside .logo{
    position: absolute;
    top: 50px;
    font-size: 30px;
    text-transform: capitalize;
}

.aside .logo a{
    color: var(--text-black-900);
    font-weight: 700;
    /* background: red; */
    padding: 15px 20px;
    letter-spacing: 5px;
    position: relative;
}

.aside .logo span{
    font-family: 'Clicker Script', cursive;
    font-size: 40px;
}

.aside .logo a::before{
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    border-bottom: 5px solid var(--skin-color);
    border-left: 5px solid var(--skin-color);
    bottom: 0;
    left: 0;
}

.aside .logo a::after{
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    border-top: 5px solid var(--skin-color);
    border-right: 5px solid var(--skin-color);
    right: 0;
    top: 0;
}

.aside .nav-toggler{
    height: 40px;
    width: 45px;
    background: var(--bg-black-100);
    border: 1px solid var(--bg-black-50);
    border-radius: 5px;
    cursor: pointer;
    position: fixed;
    left: 300px;
    top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
}

.aside .nav-toggler span{
    height: 2px;
    width: 18px;
    background-color: var(--skin-color);
    display: block;
    border-radius: 5px;
    margin: 2px 0;

}


.aside .nav{
    margin-top: 50px;
}

.aside .nav li {
    margin-bottom: 20px;
    display: block;
}

.aside .nav li a{
    font-size: 1.6rem;
    font-weight: 600;
    display: block;
    border-bottom: 1px solid var(--bg-black-50);
    color: var(--text-black-900);
    padding: 5px 15px;
}

.aside .nav li a.active{
    color: var(--skin-color);
}

.aside .nav li a i{
    margin-right: 15px;
}

/* home */

.main-content{
    padding-left: 270px;
}

.home{
    min-height: 100vh;
    display: flex;
    color: var(--text-black-900);
}

.home .section{

}



.home-info{
    flex: 0 0 60%;
    /* max-width: 60%; */
}

h3.hello{
    font-size: 28px;
    margin: 15px 0;
}

h3.hello span{
    font-family: 'JetBrains Mono', cursive;
    font-size: 30px;
    font-weight: 700;
    color: var(--skin-color);
}


.name{

}

.my-profession{

}

h3.my-profession{
    font-size: 30px;
    margin: 15px 0;
}
.typing{
    color: var(--skin-color);
}

.home-info p{
    font-size: 20px;
    margin-bottom: 70px;
    color: var(--text-black-700);
    text-align: justify;
}

.btn .hire-me{

}

.home-img{
    flex: 0 0 40%;
    max-width: 40%;
    /* background: red; */
    display: flex;
    justify-content: center;
    position: relative;
}

.home-img::after{
    content: "";
    height: 80px;
    width: 80px;
    position: absolute;
    bottom: -40px;
    right: 20px;
    border-bottom: 10px solid var(--skin-color);
    border-right: 10px solid var(--skin-color);
    border-radius: 5px;
}

.home-img::before{
    content: "";
    height: 80px;
    width: 80px;
    position: absolute;
    top: -40px;
    left: 20px;
    border-top: 10px solid var(--skin-color);
    border-left: 10px solid var(--skin-color);
    border-radius: 5px;
}


.home-img img{
    height: 400px;     
    border-radius: 5px;
}

/* About Me */

.about .container{
    padding-top: 60px;
    padding-bottom: 70px;
}
.section-title{
    flex: 0 0 100%;
    max-width: 100%;

}

.section-title h2{
    font-size: 40px;
    color: var(--text-black-900);
    font-weight: 700;
    position: relative;
    margin-bottom: 70px;
}
.section-title h2::before{
    content: "";
    height: 4px;
    width: 50px;
    background: var(--skin-color);
    position: absolute;
    bottom: 0;
    left: 0;
}
.section-title h2::after{
    content: "";
    height: 4px;
    width: 25px;
    background: var(--skin-color);
    position: absolute;
    bottom: -8px;
    left: 0;
}   

.about-content__info{
    flex: 0 0 100%;
    max-width: 100%;
}

.about-content__info h3{
    font-size: 24px;
    margin-bottom: 15px;
    color: var(--text-black-900);
}
.about-content__info h3 span{
    color: var(--skin-color);
}

.about-content__info p{
    font-size: 16px;
    line-height: 25px;
    color: var(--text-black-700);
    text-align: justify;
}

.personal-info{
    flex: 0 0 60%;
    max-width: 60%;
}

.info-item{
    flex: 0 0 50%;
}

.info-item p{
    padding: 10px 0;
    font-weight: 600;
    font-size: 16px;
    color: var(--text-black-900);
    border-bottom: 1px solid var(--bg-black-50);
}
.info-item span,
.info-item a{
    margin-left: 4px;
    font-weight: 400;
    color: var(--text-black-700);
}

/* About Skills */
.skills{
    flex: 0 0 40%;
    max-width: 40%;
}

.personal-info .buttons a{
    margin-right: 15px;
}

.skills .skill-item{
    flex: 0 0 100%;
    position: relative;
    padding: 15px;
    /* margin-bottom: 25px; */
}
.skill-item h5{
    /* line-height: 40px; */
    font-weight: 600;
    font-size: 16px;
    color: var(--text-black-900);
    text-transform: capitalize;
}

.skill-item .progress{
    position: absolute;
    top: 40px;
    height: 6px;
    width: 95%;
    border-radius: 5px;
    background: var(--bg-black-50);
}

.skill-item .progess-in{
    position: absolute;
    top: 0;
    left: 0;
    height: 6px;
    border-radius: 5px;
    background: var(--skin-color);
}

.skill-item .skill-percent{
    position: absolute;
    right: 0;
    font-weight: 400;
    top: -24px;
}

.education,
.experience{
    flex: 0 0 50%;
    max-width: 50%;

}
.about-content h3.title{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 30px;
    color: var(--text-black-900);
}

.about-content .timeline-box{
    flex: 0 0 100%;
    max-width: 100%;
}

.about-content .timeline{
    background-color: var(--bg-black-100);
    padding: 30px 15px;
    border: 1px solid var(--bg-black-50);
    border-radius: 10px;
    width: 100%;
    position: relative;
}

.about-content .timeline .timeline-item{
    position: relative;
    padding-left: 37px;
    padding-bottom: 50px;
}
.about-content .timeline .timeline-item:last-child{
    padding-bottom: 0px;
}

.about-content .timeline .timeline-item::before{
    content: "";
    width: 1px;
    position: absolute;
    height: 100%;
    background: var(--skin-color);
    left: 7px;
}

.about-content .timeline .timeline-item .circle-dot{
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: var(--skin-color);
    top: 0;
    left: 0;
}

.timeline-item .timeline-date{
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 12px;
    color: var(--text-black-700);
}

.timeline-item .timeline-date i{
    margin-right: 5px;
}
.timeline-item .timeline-title{
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 15px;
    text-transform: capitalize;
    color: var(--text-black-900);
}
.timeline-item .timline-text{
    line-height: 25px;
    font-size: 16px;
    text-align: justify;
    color: var(--text-black-700);
}

/* Service */

.service .container{
    padding-bottom: 40px;
}
.service .service-item{
    margin-bottom: 30px;
    flex: 0 0 33.33%;
    max-width: 33.33%;
}

.service .service-item-inner{
    background: var(--bg-black-100);
    border-radius: 10px;
    padding: 30px 15px;
    text-align: center;
    transition: all 0.3 ease;
}

.service .service-item-inner:hover{
    box-shadow: 0 0 20px rgba(48, 46,77,0.15);
}
.service-item-inner .icon{
    height: 60px;
    width: 60px;
    /* background: red; */
    border-radius: 50%;
    margin: 0px auto 30px;
    transition: all 0.3 ease;
}

.service-item-inner .icon i{
    font-size: 40px;
    line-height: 60px;
    color: var(--skin-color);
    transition: all 0.3 ease;
}

.service-item-inner .icon:hover{
    background-color: var(--skin-color);
}
.service-item-inner .icon:hover i{
    font-size: 25px;
    color: #ffff;
}
.service-item-inner h4{
    font-size: 18px;
    margin-bottom: 15px;
    color: var(--text-black-900);
    font-weight: 700;
    text-transform: capitalize;
}

.service-item-inner p{
    font-size: 16px;
    color: var(--text-black-700);
    line-height: 25px;
}

/* Portfolio */
.portfolio-heading{
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 40px;
}
.portfolio-heading h2{
    color: var(--text-black-900);
    font-weight: 500;
}
.portfilio-item{
    flex: 0 0 33.33%;
    max-width: 33.33%;
    margin-bottom: 30px;
}
.portfilio-item-inner{
    border: 6px solid var(--bg-black-100);
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
}

.portfilio-img img{
    max-width: 100%;
    display: block;
}

/* Contact */
.contact-title{
    color: var(--skin-color);
    font-size: 25px;
    text-align: center;
    margin-bottom: 20px;
}

.contact-sub-title{
    color: var(--text-black-900);
    text-align: center;
    font-size: 15px;
    text-transform: uppercase;
    margin-bottom: 60px;
}

.contact-info-item{
    flex: 0 0 25%;
    max-width: 25%;
    text-align: center;
    margin-bottom: 60px;
}

.contact-info-item .icon i{
    font-size: 25px;
    color: var(--skin-color);
}

.contact-info-item h4{
    color: var(--text-black-900);
    font-size: 18px;
    font-weight: 700;
    margin: 15px 0 15px;
    text-transform: capitalize;
}

.contact-info-item p{
    font-size: 16px;
    line-height: 25px;
    font-weight: 400;
    color: var(--text-black-700);
}

.contact .contact-form{
    flex: 0 0 100%;
    max-width: 100%;
}

.contact-form .col-6{
    flex: 0 0 50%;
    max-width: 50%;
}

.contact-form .col-12{
    flex: 0 0 100%;
    max-width: 100%;
}
.contact-form .form-item{
    margin-bottom: 30px;
}
.contact-form .form-item .form-control{
    width: 100%;
    height: 50px;
    border-radius: 25px;
    background: var(--bg-black-100);
    border: 1px solid var(--bg-black-50);
    padding: 10px 25px;
    font-size: 16px;
    color: var(--text-black-700);
    transition: all 0.3s ease;
}
.contact-form .form-item .form-control:focus{
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}

.contact-form .form-item textarea.form-control{
    height: 140px;
}

.contact-form .btn{
    height: 50px;
    padding: 0 50px;
}
